{% extends 'base.html' %}

{%block title %}  Medico {% endblock %}

{% block content %}
    <h1>Actualizar Medico</h1>
    <form action="{{ url_for('medico.edit', medico_id=medico.id) }}" method="POST">

        <div class="mb-3">
            <label for="" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" value="{{ medico.nombre }}" required>
        </div>
        <div class="mb-3">
            <label for="especialidad" class="form-label">Especialidad</label>
            <input type="text" class="form-control" name="especialidad" value="{{ medico.especialidad }}" required>
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" class="form-control" name="telefono" value="{{ medico.telefono }}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" value="{{ medico.email }}" required>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" >            
        </div>
        <button type="submit" class="btn btn-primary">Actualizar Medico</button>
            
    </form>
{% endblock %}